.status {
    &::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 5px;
        border-radius: 50%;
        background-color: rgb(255, 145, 0);
    }

    &.paid::before {
        background-color: rgb(138, 231, 51);
    }
}